:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

body {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.news-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #e2e2e2;
}

.news-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.news-card h3 {
  margin: 0 0 5px 0;
  color: black;
}

.news-card p {
  margin: 0;
  color: #666;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 71%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 71%;
  }
}

.logo-gradient {
  height: 70px;
  width: 155px;
  border-radius: 50px;
  z-index: 999;

  background: linear-gradient(275deg, #00d1ff, #98f040);
  background-size: 200% 200%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
